{% extends 'app_dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Add Quiz{% endblock title%}
{% block wrapper %}
<div class="container bg-white p-10 rounded-md text-gray-700">
    <h2 class="text-2xl font-bold mb-8 border-b">Create Quiz</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="quiz-container max-w-full w-1/2">
            <label for="quiztitle" class="text-base">Quiz Title</label>
            <div class="flex items-end">
                <input type="text" name="quiztitle" class="form-field-2" placeholder="Type Quiz title" id="quiztitle"
                    required>
                <div class="input-check ml-10 flex items-center">
                    <input type="checkbox" name="quizactive" id="quizactive" class="form-check-input checkbox-1">
                    <label for="quizactive" class="inline-block">Active</label>
                </div>
            </div>
            <div class="flex justify-start items-start flex-col">
                <div class="my-5 flex items-center justify-end w-full">
                    <label for="" class="">Add question</label>
                    <button class="add_ques_button cta cta-primary ml-2">Add</button>
                </div>
                <div class="bg-white rounded-lg text-gray-900 questions w-full mb-10" data-lansid="{{lastAnswerId}}">
                    <div class="question mb-5">
                        <div class="input-group relative flex items-end w-full mb-4">
                            <input type="text" name="ques=1" class="form-field-2" placeholder="Type Quiz Question"
                                required>
                            <!-- <button
                                class="remove_ques_button bg-blue-500 text-white px-2 py-1 rounded w-auto ml-5">remove</button> -->
                        </div>
                        <div class="my-5 flex items-center justify-end">
                            <label for="" class="">Add answer</label>
                            <button class="add_qans_button cta cta-primary ml-2">Add</button>
                        </div>
                        <div class="answers relative pl-10">
                            <div class="answer flex items-center mb-5" data-ansid=1 data-quesid=1>
                                <input class="checkbox-1 form-check-input" type="checkbox" id="flexCheckDefault"
                                    name="iscorrect&qans=1&ques=1">
                                <input type="text" name="qans=1&ques=1" id="" class="form-field-2"
                                    placeholder="Type answer" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="button-1">Create Quiz</button>
    </form>
</div>
<style>

</style>

{% endblock wrapper %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        var addQuesButton = $('.add_ques_button'); //Add button selector
        var questions = $('.questions'); //Input field wrapper
        let q = 1; //Initial field counter is 1

        $(addQuesButton).click(function (e) {
            e.preventDefault();
            q++; //Increment field counter
            var fieldQuesHTML =
                `<div class="question mb-5 counter">
                      <div class="relative flex items-end w-full mb-4">
                          <input type="text" name="ques=${q}"
                              class="form-field-2"
                              placeholder="Type Quiz Question" required>
                          <button
                              class="remove_ques_button cta cta-danger">remove</button>
                      </div>
                        <div class="my-5 flex items-center justify-end">
                            <label for="" class="">Add answer</label>
                            <button class="add_qans_button cta cta-primary ml-2">Add</button>
                        </div>
                        <div class="answers relative pl-10">
                            <div class="answer flex items-center mb-5" data-ansid=1 data-quesid=${q}>
                                <input class="checkbox-1 form-check-input" type="checkbox" id="flexCheckDefault"
                                    name="iscorrect&qans=1&ques=${q}">
                                <input type="text" name="qans=1&ques=${q}" id="" class="form-field-2"
                                    placeholder="Type answer" required>
                            </div>
                        </div>
                    </div>`
            $(questions).append(fieldQuesHTML); //Add field html

        });



        //Once remove button is clicked
        $(questions).on('click', '.remove_ques_button', function (e) {
            e.preventDefault();
            $(this).parents('.question').remove(); //Remove field html
        });



        //Once add button is clicked
        $(document).on('click', '.add_qans_button', function (e) {
            e.preventDefault();
            answers = $(this).parent('div').next('.answers')
            lastAnswerId = answers.children('.answer').last().data('ansid')
            parentQuestionId = answers.children('.answer').last().data('quesid')
            newAnswerId = lastAnswerId + 1
            var fieldAnsHTML =
                `<div class="answer flex items-center mb-5" data-ansid="${newAnswerId}" data-quesid=${parentQuestionId}>
                        <input class="checkbox-1 form-check-input" type="checkbox" id="flexCheckDefault"
                            name="iscorrect&qans=${newAnswerId}&ques=${parentQuestionId}">
                        <input type="text" name="qans=${newAnswerId}&ques=${parentQuestionId}" id="" class="form-field-2" placeholder="Type answer" required>
                        <button class="remove_qans_button  cta cta-danger">remove</button>
                </div>`
            answers.append(fieldAnsHTML)
        });


        
        $(document).on('click', '.remove_qans_button', function (e) {
            e.preventDefault();
            $(this).parents('.answer').remove(); //Remove field html
        });

    });
</script>
{% endblock script %}