{% extends 'app_dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load custom_template_tags %}
{% block title %}Dashboard{% endblock title%}
{% block wrapper %}
<div class="container bg-white p-10 rounded-md">
        <h2 class="text-2xl font-bold mb-8 border-b">Dashboard</h2>
        {% if user.is_student %}
        <h2 class="text-xl font-semibold ml-5">All Quizes</h2>
        <ul class="bg-white rounded-lg w-96 text-gray-900 ml-5">
                {% for quiz in quiz_qs %}
                <li class="px-6 py-2 border-b border-gray-200 w-full flex justify-between items-center">
                        {{quiz.title}}
                        {% if not quiz|isResultComplete:user %}
                        <a href="{% url 'quizexam' pk=quiz.id %}"
                                class="bg-red-600 text-gray-100 rounded px-2 py-1">give exam</a>
                        {% else %}
                        <a href="{% url 'quizexam' pk=quiz.id %}"
                                class="bg-green-600 text-gray-100 rounded px-2 py-1">see result</a>
                        {% endif %}
                </li>
                {% endfor %}
        </ul>
        {% endif %}

</div>
{% endblock wrapper %}