{% extends 'app_dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Quiz List{% endblock title%}
{% block wrapper %}
<div class="container bg-white p-10 rounded-md text-gray-700">
    <h2 class="text-2xl font-bold mb-8 border-b">Quiz List</h2>
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-x-auto">
                    <table class="min-w-full">
                        <thead class="border-b">
                            <tr>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    #
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Title
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Update
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for quiz in quiz_qs %}
                            <tr class="border-b">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    {{forloop.counter}}</td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{quiz.title}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    <a href="{% url 'update_quiz' pk=quiz.id %}" class="button-1">update</a>
                                </td>
                                <td class="">
                                    <a href="{% url 'delete_quiz' pk=quiz.id %}" class="button-1 bg-red-600">delete</a>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock wrapper %}