{% extends 'app_dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Quiz Exam{% endblock title%}
{% block wrapper %}
<div class="container mx-auto bg-white p-4 md:p-10 rounded-md text-gray-800">
    {% if result %}

    <div class="result-container">
        <h2 class="font-semibold text-xl mb-2 border-b pb-1">Your Quiz Score:</h2>
        <h3 class="mb-1">Score: {{result.score}}%</h3>
        <h3 class="mb-1">Correect Answer: {{result.tca}}/{{quizObj.quizqs.count}}</h3>
    </div>

    {% elif not result and quizObj.active %}
    <h2 class="text-2xl font-semibold mb-8 pb-2 border-b">{{quizObj.title}}</h2>
    <form action="" method="post" class="quiz-container w-2/4">
        {% csrf_token %}
        <div class="questions">
            {% for question in quizObj.quizqs.all %}
            {% if question %}
            <div class="question mb-10 ml-5">
                <h3 class="mb-2 font-semibold text-xl inline-block" for="">{{question.text}}</h3>
                {% for answer in question.qsans.all %}
                <ul class="ml-10 answers">
                    <li
                        class="px-6 py-2 border-b border-gray-200 w-full rounded-t-lg flex justify-start items-center answer">
                        <input type="radio" name="quiz={{question.id}}" id="qans={{answer.id}}&ques={{question.id}}"
                            value="{{answer.id}}" class="form-check-input radio-1" required><label
                            for="qans={{answer.id}}&ques={{question.id}}">
                            {{answer.text}}</label></li>
                </ul>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <button type="submit" class="button-1">Create Quiz</button>
    </form>
    {% else %}
    <h2 class="text-2xl font-semibold mb-8 pb-2 border-b">Quiz hasn't been started yet !!!</h2>
    {% endif %}
</div>
{% endblock wrapper %}