{% extends 'app_dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Update Quiz{% endblock title%}
{% block wrapper %}
<div class="container mx-auto bg-white p-4 md:p-10 rounded-md">
    <h2 class="text-2xl font-semibold mb-8 border-b">Update Quiz</h2>
    <form action="" method="post" class="quiz-container md:w-2/4">
        {% csrf_token %}
        <label for="quiztitle" class="text-xl">Quiz Title</label>
        <div class="flex items-end">
            <input type="text" name="quiztitle" class="form-field-2" placeholder="Type Quiz title" id="quiztitle"
                value="{{quizObj.title}}" required>
            <div class=" input-check ml-10 flex items-center">
                <input type="checkbox" name="quizactive" id="quizactive" class="form-check-input checkbox-1"
                    {% if quizObj.active %} checked {% endif %}>
                <label for="quizactive" class="inline-block">Active</label>
            </div>
        </div>
        <div class="flex justify-start items-start flex-col">
            <div class="my-5 flex items-center justify-end w-full">
                <button class="add_ques_button cta cta-secondary-1"><i class='bx bx-plus mr-1 text-[1rem]'></i>Add
                    Question</button>
            </div>
            <div class="bg-white rounded-lg text-gray-900 questions w-full mb-10" data-lansid={{lastAnswerId}}>
                {% for question in quizObj.quizqs.all %}
                {% if question %}
                <div class="question mb-5" data-quesid="{{question.id}}" id="question{{question.id}}">
                    <div class="relative flex items-end w-full mb-4">
                        <input type="text" name="ques={{question.id}}"
                            class="form-control relative flex-auto form-field-2 inline-block"
                            placeholder="Type Quiz Question" required value="{{question.text}}">
                        <button class="cta cta-danger-1 ml-5" hx-target="#question{{question.id}}"
                            hx-post="{% url 'delete_ques' pk=question.id %}" hx-swap="delete"
                            hx-confirm="Are you sure you wish to delete this question ?"><i
                                class="gg-trash"></i></button>
                    </div>
                    <p class="text-sm flex justify-start items-center text-gray-500"><i class="gg-info mr-2"></i>Note:
                        check option if the option is correct</p>
                    <div class="my-5 flex items-center justify-end">
                        <button class="add_qans_button cta cta-outline-secondary-1 ml-2"><i
                                class='bx bx-plus mr-1 text-[1rem]'></i>Add option</button>
                    </div>
                    <div class="answers relative pl-10">
                        {% for answer in question.qsans.all %}
                        {% if answer %}
                        <div class="answer flex items-center mb-5" data-ansid={{answer.id}} id="answer{{answer.id}}">
                            <input class="checkbox-1 form-check-input" type="checkbox" id="flexCheckDefault"
                                name="iscorrect&qans={{answer.id}}&ques={{question.id}}" {% if answer.is_correct %}
                                checked {% endif %}>
                            <input type="text" name="qans={{answer.id}}&ques={{question.id}}" id="" class="form-field-2"
                                placeholder="Type answer" required value="{{answer.text}}">
                            <button hx-target="#answer{{answer.id}}" hx-swap="delete"
                                class="cta cta-outline-danger-1 ml-5 p-1.5"
                                hx-post="{% url 'delete_qans' pk=answer.id %}"
                                hx-confirm="Are you sure you wish to delete this answer ?"><i
                                    class="gg-trash-empty"></i></button>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <button type="submit" class="button-1">Submit</button>
    </form>
</div>
{% endblock wrapper %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        let addQuesButton = $('.add_ques_button');
        let questions = $('.questions');
        let lastQuestionId
        let newAnswerId

        $(addQuesButton).click(function (e) {
            e.preventDefault();

            question = $(this).parents('div').next('.questions')
            lastQuestionId = question.children('.question').last().data('quesid')
            lastQuestionId = lastQuestionId ? lastQuestionId : 0
            lastAnswerId = parseInt(questions.attr('data-lansid'))

            newQuestionId = lastQuestionId + 1
            newAnswerId = lastAnswerId + 1

            var fieldQuesHTML =
                `<div class="question mb-5" data-quesid=${newQuestionId}>
                    <div class=" relative flex items-end w-full mb-4">
                          <input type="text" name="ques=${newQuestionId}"
                              class="form-control relative flex-auto form-field-2 inline-block"
                              placeholder="Type Quiz Question" required>
                          <button
                              class="remove_ques_button cta cta-danger-1 ml-2"><i class="gg-trash"></i></button>
                    </div>
                    <p class="text-sm flex justify-start items-center text-gray-500"><i class="gg-info mr-2"></i>Note: check option if the option is correct</p>
                    <div class="my-5 flex items-center justify-end">
                        <button class="add_qans_button cta cta-outline-secondary-1 ml-2"><i class='bx bx-plus mr-1 text-[1rem]'></i>Add option</button>
                    </div>
                    <div class="answers relative pl-10">
                        <div class="answer flex items-center mb-5" data-ansid=1>
                            <input class="checkbox-1 form-check-input" type="checkbox" id="flexCheckDefault"
                                name="iscorrect&qans=${newAnswerId}&ques=${newQuestionId}">
                            <input type="text" name="qans=${newAnswerId}&ques=${newQuestionId}" id="" class="form-field-2"
                                    placeholder="Type answer" required>
                        </div>
                    </div>
                </div>`
            $(questions).append(fieldQuesHTML);
            questions.attr('data-lansid', newAnswerId)
        });



        //Once remove button is clicked
        $(questions).on('click', '.remove_ques_button', function (e) {
            e.preventDefault();
            $(this).parents('.question').remove(); //Remove field html
        });



        //Once add button is clicked
        $(document).on('click', '.add_qans_button', function (e) {
            e.preventDefault();
            answers = $(this).parent('div').next('.answers')
            lastAnswerId = parseInt(questions.attr('data-lansid'))
            lastQuestionId = parseInt($(this).closest('.question').attr('data-quesid'))
            newAnswerId = lastAnswerId + 1

            var fieldAnsHTML =
                `<div class="answer flex items-center mb-5" data-ansid="${newAnswerId}">
                                <input class="checkbox-1 form-check-input" type="checkbox" id="flexCheckDefault"
                                    name="iscorrect&qans=${newAnswerId}&ques=${lastQuestionId}">
                                <input type="text" name="qans=${newAnswerId}&ques=${lastQuestionId}" id=""
                                    class="form-field-2"
                                    placeholder="Type answer" required>
                                <button class="remove_qans_button cta cta-outline-danger-1 ml-5 p-1.5"><i class="gg-trash-empty"></i></button>
                        </div>`
            answers.append(fieldAnsHTML)
            questions.attr('data-lansid', newAnswerId)
        });



        $(document).on('click', '.remove_qans_button', function (e) {
            e.preventDefault();
            $(this).parents('.answer').remove(); //Remove field html
        });

    });
</script>
{% endblock script %}