{% extends 'app_dashboard/base.html' %}
{% load static %} {% load widget_tweaks %}
{% load custom_template_tags %}
{% block title %}Details Forum{% endblock title%}
{% block wrapper %}
<div class="container mx-auto bg-white p-4 md:p-10 rounded-md font-poppins">
    <div class="p-2 rounded text-gray-700 max-w-7xl mx-auto">
        <div class="forum-question mb-7">
            <header class="border-b flex flex-col  justify-between items-start pb-2 px-5 md:flex-row">
                <div>
                    <h2 class="font-semibold text-3xl mb-4">{{forum.topic}}
                    </h2>
                    <h5>{{forum.created_at}}</h5>
                </div>
                <div class="div ml-auto">
                    <div class="inline-block">
                        <span class="block font-semibold text-sm">{{forum.topic_starter.username}}</span>
                        <span class="block text-xs">{{forum.topic_starter.role}}</span>
                    </div>
                    <img src="https://i.imgur.com/iNmBizf.jpg" alt="" class="inline-block rounded-full ml-2">
                </div>
            </header>
            <div class="card-body p-5">
                <p class="">
                    {{forum.description|safe}}
                </p>
            </div>
            <div class="card-footer px-5 pb-2">
                <span
                    class="flex bg-green-200 rounded-full px-2 py-0.5 text-green-700 items-center justify-center text-xs max-w-max"><svg
                        class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
                    </svg>Topic starter</span>
            </div>
            <span class="px-5 my-2 text-xl font-semibold block">
                Total {{forum.discussions.count}} comments
            </span>
        </div>
        <div class="replay-container ml-auto pl-10">
            {% for dcs in forum.discussions.all %}
            <div class="replay p-5 mb-2 border-b">
                <div class="card-header flex justify-between">
                    <div class="w-full mb-5">
                        <img src="https://i.imgur.com/iNmBizf.jpg" alt="" class="inline-block rounded-full mr-4 w-12">
                        <div class="inline-block">
                            <span class="block font-semibold text-sm">{{dcs.discusser.username}}</span>
                            <span class="block text-xs">{{dcs.discusser.role}}</span>
                        </div>
                    </div>
                    <span class="text-xs whitespace-nowrap">{{dcs.created_at}}</span>
                </div>
                <div class="text-sm !leading-6 overflow-auto">{{dcs.discuss|safe}}</div>
                <div class="mt-4 flex justify-between items-center">
                    {% if dcs.discusser == forum.topic_starter %}
                    <span
                    class="flex bg-green-200 rounded-full px-2 py-0.5 text-green-700 items-center justify-center text-xs max-w-max"><svg
                        class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
                    </svg>Topic starter</span>
                    {% else %}
                    <button></button>
                    {% endif %}
                    <div class="card-footer pb-2 text-right">
                        <button class="btn-outline ml-auto px-2 py-1 text-xs mt-4">Like</button>
                        <button class="btn-outline ml-auto px-2 py-1 text-xs mt-4">Replay</button>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
        <div class="comment mt-28 px-5 ">
            <form action="" method="post">
                {% csrf_token %}
                <label for="id_content" class="mb-4 font-semibold block text-xl">Write Your Answer</label>
                {% for field in form %}
                {% render_field field class="form-field " placeholder=field.label %}
                <ul class="w-full">
                    {% for error in field.errors %}
                    <li> <span class="ml-2 text-s text-red-400 block">{{error}}</span></li>
                    {% endfor %}
                </ul>
                <p class="text-gray-500">{{field.help_texts}}</p>
                {% endfor %}
                {% if request.user.is_authenticated %}
                <button type="submit" class="btn mt-4">Post</button>
                {% else %}
                <p class="text-red-600 text-sm mt-4">You must login before discussion.<a href="{% url 'signin' %}?next={% url 'details_forum' pk=forum.id %}" class="underline text-blue-600 ml-2">Signin</a></p>
                {% endif %}
            </form>

        </div>
    </div>

</div>
{% endblock wrapper %}
{% block script %}
<script>
    $(document).ready(function () {
        $('#id_discuss').summernote({
            height: 200,
        });
    });
</script>
{% endblock script %}