{% extends 'app_dashboard/base.html' %}
{% load static %}
{% load widget_tweaks  %}
{% load custom_template_tags %}
{% block title %}Forums{% endblock title%}
{% block wrapper %}
<div class="container bg-white p-10 rounded-md font-poppins">
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <h2 class="text-2xl font-semibold mb-8 pb-2 border-b">Currently Active forum - {{forums.count}}</h2>
                <div class="overflow-x-auto">
                    <table class="min-w-full">
                        <thead class="border-b">
                            <tr>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Topic
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Topic Starter
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Replies
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Activity
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for forum in forums %}
                            <tr class="border-b">
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    <a href="{% url 'details_forum' pk=forum.id %}" class="hover:underline">{{forum.topic}}</a>
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{forum.topic_starter}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{forum.discussions.count}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                   {{forum.created_at}}
                                </td>
                                {% if user.is_student and forum.topic_starter == user %}
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    <a href="{% url 'delete_forum' pk=forum.id %}"
                                    onclick="return confirm('Are you sure?')"
                                    class="py-1 px-3 bg-red-400 text-white rounded-xl text-xs">delete</a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock wrapper %}