{% extends 'app_dashboard/base.html' %} {% load static %} {% load widget_tweaks
%} {% load custom_template_tags %} {% block title %}Dashboard{% endblock title%}
{% block wrapper %}
<div class="container bg-white p-10 rounded-md">
  <h2 class="text-2xl font-bold border-b pb-2">{{article.title}}</h2>
  {% if article.author == user %}
  <div class="w-full my-2 flex justify-end mt-4">
    <a href="{% url 'update_article' pk=article.id %}"
      class="py-1 px-3 bg-blue-400 text-white ml-auto rounded-xl text-xs">
      update
    </a>
  </div>
  {% endif %}
  <div class="w-full mb-5 mt-3">
    <span
      class="inline-block py-1 px-3 rounded bg-emerald-100 mb-3 text-emerald-500 dark:bg-slate-700 dark:text-gray-300 text-xs font-medium tracking-widest">{{article.author}}
    </span>
    <span class="text-sm text-gray-600 float-right">{{article.created_on}}
    </span>
  </div>
  <div class="text-gray-700">{{article.content|safe}}</div>
</div>
{% endblock wrapper %}