{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="{% static 'vendor/tailwindcss/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/jnoty/jnoty.min.css' %}">

</head>

<body class="font-poppins">
    <div class="w-full mx-auto bg-gray-100 flex items-center justify-center min-h-screen">
        <div class="px-10 py-6 mx-4 mt-4 text-left bg-white shadow-lg md:w-1/3 lg:w-1/3 sm:w-1/3 rounded-md">
            <div class="flex justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 text-blue-600" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path d="M12 14l9-5-9-5-9 5 9 5z" />
                    <path
                        d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                </svg>
            </div>
            <h3 class="text-2xl font-bold text-center uppercase">login here</h3>
            <form action="" method="post" class="">
                {% csrf_token %}
                <div class="flex flex-wrap">
                    <div class=" w-full p-2">
                        <label for="" class="block">Username</label>
                        <input type="text" name="username" class="form-field" placeholder="Username" required value="{{username}}">
                    </div>
                    <div class=" w-full p-2">
                        <label for="" class="block">Password</label>
                        <input type="password" name="password" class="form-field" placeholder="Password" required>
                    </div>
                </div>
                <div class="p-2">
                    <button class="btn mt-2">SignIn</button>
                </div>
                <div class="mt-2 p-2 text-grey-dark">
                    New here? Create an account
                    <a class="text-blue-600 hover:underline" href="{% url 'signup' %}">
                        Sign Up
                    </a>
                </div>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'vendor/jnoty/jnoty.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            `{% if messages %}
            {% for message in messages %}
            {% if message.tags %} class="{{ message.tags }}"
            {% endif %}>`

            theme = '{{ message.tags }}'
            header = '{{ message.tags|title }}'
            $.jnoty("{{ message }}", {
                header: header,
                theme: 'jnoty-' + theme,
            });

            `{{ message }}
            {% endfor %}
            {% endif %}`
        });
    </script>
</body>

</html>