{% extends 'core/base.html' %}
{% load static %}
{% block main_content %}
<div class="video-block section-padding">
    <div class="row">
        <div class="col-md-8">
            <div class="single-video-left">
                <div class="single-video">
                    <iframe src="{{video.vidurl}}" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="single-video-title box mb-3">
                    <h2>{{video.title}}</h2>
                    <p class="mb-0"><i class="fas fa-eye"></i> {{video.tviews}} views</p>
                    <small>Published on {{video.created_at}}</small>
                </div>

                <div class="single-video-info-content box mb-3">
                    <h6>Category :</h6>
                    <p>{{video.category}}</p>
                    <h6>About :</h6>
                    <p style="white-space: pre-line;">{{video.details}}</p>
                    <div class="be-comment-block mt-5">
                        <h1 class="comments-title">Comments ({{comments.count}})</h1>
                        {% for comment in comments %}
                        <div class="be-comment">
                            <div class="be-img-comment">
                                <a href="blog-detail-2.html">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""
                                        class="be-ava-comment">
                                </a>
                            </div>
                            <div class="be-comment-content">

                                <span class="be-comment-name">
                                    <a href="blog-detail-2.html">{{comment.username}}</a>
                                </span>
                                <span class="be-comment-time">
                                    <i class="fa fa-clock-o"></i>
                                    {{comment.created_at}}
                                </span>

                                <p class="be-comment-text">
                                    {{comment.comment}}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                        <hr class="mt-5">
                        <form class="form-block mt-4" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group fl_icon">
                                        <div class="icon"><i class="fa fa-user"></i></div>
                                        {{form.username}}
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 fl_icon">
                                    <div class="form-group fl_icon">
                                        <div class="icon"><i class="fa fa-envelope"></i></div>
                                        {{form.email}}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        {{form.comment}}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <input type="submit" class="btn btn-primary float-right" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-video-right">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title">
                            <h6>Up Next</h6>
                        </div>
                    </div>
                    <div class="col-md-12">
                        {% for video in videos %}
                        <div class="video-card video-card-list">
                            <div class="video-card-image">
                                <a class="play-icon" href="{% url 'videoDetails' pk=video.id %}"><i
                                        class="fas fa-play-circle"></i></a>
                                <a href="{% url 'videoDetails' pk=video.id %}"><img class="img-fluid"
                                        src="{% if video.thumbnail %}{{ video.thumbnail.url }}{% else %}{% static 'assets/images/youtube-thumb-1.webp' %}{% endif %}"
                                        alt=""></a>
                                <div class="time">{{video.runtime}}</div>
                            </div>
                            <div class="video-card-body">
                                <div class="video-title">
                                    <a href="{{video.runtime}}">{{video.title}}</a>
                                </div>
                                <div class="video-page text-success">
                                    {{video.category}}<a title="" data-placement="top" data-toggle="tooltip" href=""
                                        data-original-title="Verified"><i
                                            class="fas fa-check-circle text-success"></i></a>
                                </div>
                                <div class="video-view">
                                    {{video.tviews}} views &nbsp;<i class="fas fa-calendar-alt"></i>
                                    {{videos.created_At}}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="mt-0">
{% endblock main_content %}